@import 'variables' ;

* {
  box-sizing: border-box ;
}

body, html {
  height: 100% ;
}

body {
  display: table ;
  padding: 0 ;
  margin: 0 ;
  direction: rtl ;
}

body > footer {
  display: table-row ;
}

a {
  color: rgb(0, 0, 0) ;
  text-decoration: none ;
}

.title {
  font-family: miri, Helvetica ;
  font-weight: bold ;
  font-size: 20px ;
}